/*Обнуление (reset)*/
@import './reset.css';

/* Переменные */
html {
  /*Light mode*/
  --lm-color-text-default: #000
  --lm-color-link-default: #000
  --lm-bg-primary: #fff;
  --lm-bg-secondary: #fff;
  --lm-bg-tertiary: #fff;
  --lm-border-primary: #000;
  --lm-border-secondary: #000;
  --lm-heading-color: rebeccapurple;

  /*Dark mode*/
  --dm-color-text-default: #fff;
  --dm-color-link-default: #fff;
  --dm-bg-primary: #1b1b1b;
  --dm-bg-secondary: #343434;
  --dm-bg-tertiary: #4e4e4e;
  --dm-border-primary: #858585; 
  --dm-border-secondary: #696969;
  --dm-heading-color: #fff;

  /*SVG*/
  --dm-color-svg-default: #f6f6f6;


}
/*При использовании CSS-переменных не забывай использовать резервные значения!*/

body {
  background-color: var(--dm-bg-primary);
  color: var(--dm-color)
}

a {
  color: var(--dm-color)
}

.container {
  height: 100vh;
  font-family: sans-serif;
}

.main {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.heading {
  color: var(--dm-heading-color);
}
   