.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-primary);
  border-bottom: 1.5px solid vr(--border-primary-default);
  z-index: 9999;
}

.container {
  width: 1080px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
