.nav-menu {
  display: flex;
}

.nav-link-list {
  display: flex;
}

.nav-link-item {
  padding-left: 10px;
}

.nav-link {
  padding: 10px 10px;
  font-family: var(--nav-link-font-family);
  font-size: var(--nav-link-font-size);
  line-height: var(--nav-link-line-height);
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: var(--background-color-tertiary);
}

.nav-link a {
  color: var(--nav-link-color-default);
}

.nav-link a:hover {
  color: var(--nav-link-color-hover);
}
