/*CSS Переменные*/
html {
  /*Конструктор (размеры)*/
  --header-height: 4em;
  --wrapper-width: 1080px;
  --footer-height: 16em;

  /*Цвета*/
  --viva-magenta: #bb2649;
  --mountain-meadow: #26bb98;

  /*Семейства Шрифтов*/
  --jura: 'Jura', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --finlandica: 'Finlandica', sans-serif;

  /*Цвета Шрифтов*/
  --lm-clr-primary: #1b1b1b;
  --lm-clr-secondary: #4e4e4e;
  --dm-clr-primary: #fff;
  --dm-clr-secondary: #fff;

  --lm-heading-clr: var(--lm-clr-primary);
  --dm-heading-clr: var(--dm-clr-primary);

  /*Цвет Фона*/
  --lm-bg-clr-primary: #fff;
  --lm-bg-clr-secondary: #fff;
  --lm-bg-clr-tertiary: #fff;

  --dm-bg-clr-primary: #1b1b1b;
  --dm-bg-clr-secondary: #231b1b;
  --dm-bg-clr-tertiary: #4e4e4e;

  /*Границы элементов (базовые значения)*/
  --lm-border-primary: 1.5px solid #000;
  --lm-border-primary-hover: 1.5px solid var(--viva-magenta);
  --lm-border-secondary: 1.5px solid #000;
  --lm-border-secondary-hover: 1.5px solid var(--viva-magenta);

  --dm-border-primary: 1.5px solid #fff;
  --dm-border-primary-hover: 1.5px solid var(--mountain-meadow);
  --dm-border-secondary: 1.5px solid #696969;
  --dm-border-secondary-hover: 1.5px solid var(--mountain-meadow);

  /*Кнопки*/
  --lm-btn-bg-clr: var(--lm-bg-clr-primary);
  --lm-btn-bg-clr-hover: var(--lm-bg-clr-primary);
  --lm-btn-border: var(--lm-border-primary);
  --lm-btn-border-hover: var(--lm-border-primary-hover);

  --dm-btn-bg-clr: #1b1b1b;
  --dm-btn-bg-clr-hover: #1b1b1b;
  --dm-btn-border: var(--dm-border-primary);
  --dm-btn-border-hover: var(--dm-border-primary-hover);

  /*Карточки*/
  --lm-card-bg-clr: #fff;
  --lm-card-bg-clr-hover: #fff;
  --lm-card-border: var(--lm-border-primary);
  --lm-card-border-hover: var(--lm-border-primary-hover);

  --dm-card-bg-clr: #1b1b1b;
  --dm-card-bg-clr-hover: #1b1b1b;
  --dm-card-border: var(--dm-border-primary);
  --dm-card-border-hover: var(--dm-border-primary-hover);

  /*Ссылки*/
  --lm-link-clr: var(--lm-clr-primary);
  --lm-link-clr-hover: var(--viva-magenta);
  --dm-link-clr: var(--dm-clr-primary);
  --dm-link-clr-hover: var(--mountain-meadow);

  --lm-nav-link-clr: #000;
  --lm-nav-link-clr-hover: #000;
  --dm-nav-link-clr: #fff;
  --dm-nav-link-clr-hover: #fff;

  /*SVG*/

  --lm-svg-clr: var(--lm-clr-primary);
  --lm-svg-clr-hover: var(--viva-magenta);
  --dm-svg-clr: var(--dm-clr-primary);
  --dm-svg-clr-hover: var(--mountain-meadow);
}

.main-layout,
.main-layout.dark {
  font-size: 16px;
  /*Цвета текста*/
  --clr-primary: var(--dm-clr-primary);
  --clr-secondary: var(--dm-clr-secondary);

  /*Цвет Фона*/
  --bg-clr-primary: var(--dm-bg-clr-primary);
  --bg-clr-secondary: var(--dm-bg-clr-secondary);
  --bg-clr-tertiary: var(--dm-bg-clr-tertiary);

  /*Настройки рамок элементов */
  --border-primary: var(--dm-border-primary);
  --border-primary-hover: var(--dm-border-primary-hover);
  --border-secondary: var(--dm-border-secondary);
  --border-secondary-hover: var(--dm-border-secondary-hover);
  --header-border-bottom: 1.5px solid var(--mountain-meadow); /*Header*/

  /*Кнопки*/
  --btn-bg-clr: var(--dm-btn-bg-clr);
  --btn-bg-clr-hover: var(--dm-btn-bg-clr-hover);
  --btn-border: var(--dm-btn-border);
  --btn-border-hover: var(--dm-btn-border-hover);

  /*Карточки*/
  --card-bg-clr: var(--dm-card-bg-clr);
  --card-bg-clr-hover: var(--dm-card-bg-clr-hover);
  --card-border: var(--dm-card-border);
  --card-border-hover: var(--dm-card-border-hover);

  /*Ссылки*/
  --link-clr: var(--dm-link-clr);
  --link-clr-hover: var(--dm-link-clr-hover);

  --nav-link-clr: var(--dm-nav-link-clr);
  --nav-link-clr-hover: var(--dm-nav-link-clr-hover);

  /*SVG*/
  --svg-clr: var(--dm-svg-clr);
  --svg-clr-hover: var(--dm-svg-clr-hover);
}

.main-layout.light {
  /*Цвет текста*/
  --clr-primary: var(--lm-clr-primary);
  --clr-secondary: var(--lm-clr-secondary);

  /*Цвет Фона*/
  --bg-clr-primary: var(--lm-bg-clr-primary);
  --bg-clr-secondary: var(--lm-bg-clr-secondary);
  --bg-clr-tertiary: var(--lm-bg-clr-tertiary);

  /*Настройки рамок элементов */
  --border-primary: var(--lm-border-primary);
  --border-primary-hover: var(--lm-border-primary-hover);
  --border-secondary: var(--lm-border-secondary);
  --border-secondary-hover: var(--lm-border-secondary-hover);
  --header-border-bottom: 1.5px solid var(--viva-magenta); /*Header*/

  /*Кнопки*/
  --btn-bg-clr: var(--lm-btn-bg-clr);
  --btn-bg-clr-hover: var(--lm-btn-bg-clr-hover);
  --btn-border: var(--lm-btn-border);
  --btn-border-hover: var(--lm-btn-border-hover);

  /*Карточки*/
  --card-bg-clr: var(--lm-card-bg-clr);
  --card-bg-clr-hover: var(--lm-card-bg-clr-hover);
  --card-border: var(--lm-card-border);
  --card-border-hover: var(--lm-card-border-hover);

  /*Ссылки*/
  --link-clr: var(--lm-link-clr);
  --link-clr-hover: var(--lm-link-clr-hover);

  --nav-link-clr: var(--lm-nav-link-clr);
  --nav-link-clr-hover: var(--lm-nav-link-clr-hover);

  /*SVG*/
  --svg-clr: var(--lm-svg-clr);
  --svg-clr-hover: var(--lm-svg-clr-hover);
}
