.svg-button {
  padding: 0.4rem;
  border: var(--border-primary);
  color: var(--svg-clr);
  background-color: var(--btn-bg-clr);
}

.svg-button svg {
  text-align: center;
}

.svg-button :where(.svg-button:hover, .svg-button:active) {
  background-color: var(---btn-bg-clr-hover);
}

.svg-button :where(.svg-button:hover svg, .svg-button svg) {
  color: var(--svg-clr-hover);
}
