body.dark {
  /*Dark Mode*/
  --color-background: var(--dm-color-background);
  --color-background-transparent: var(--dm-color-background-transparent);
  --color-background-card: var(--dm-color-background-card);
  --color-text-default: var(--dm-color-text-default);
  --color-text-light: var(--dm-color-text-light);
  --color-svg-default: var(--dm-color-svg-default);
  --color-button-border: var(--dm-color-button-border);
  --color-button-hover: var(--dm-color-button-hover);
  --color-button-active: var(--dm-color-button-active);
  --color-button-text-hover: var(--dm-color-button-text-hover);
  --color-disabled: var(--dm-color-disabled);
  --color-grid-item-divider: var(--dm-color-grid-item-divider);
  --color-shadows: var(--dm-color-shadow);
  --color-link: var(--dm-color-link);
  --color-link-hover: var(--dm-color-link-hover);
  --color-link-visited: var(--dm-color-link-visited);
}

body.light {
  /*Light Mode*/
  --color-background: var(--lm-color-background);
  --color-background-transparent: var(--lm-color-background-transparent);
  --color-background-card: var(--lm-color-background-card);
  --color-text-default: var(--lm-color-text-default);
  --color-text-light: var(--lm-color-text-light);
  --color-svg-default: var(--lm-color-svg-default);

  /*Button*/
  --color-button-border: var(--lm-color-button-border);
  --color-button-hover: var(--lm-color-button-hover);
  --color-button-active: var(--lm-color-button-active);
  --color-button-text-hover: var(--lm-color-button-text-hover);
  --color-disabled: var(--lm-color-disabled);
  --color-grid-item-divider: var(--lm-color-grid-item-divider);
  --color-shadows: var(--lm-color-shadow);
  /*Link*/
  --color-link: var(--lm-color-link);
  --color-link-hover: var(--lm-color-link-hover);
  --color-link-visited: var(--lm-color-link-visited);
}

:root {
  /*Базовые цвета*/
  --color-background: var(--dm-color-background);
  --color-background-transparent: var(--dm-color-background-transparent);
  --color-background-card: var(--dm-color-background-card);

  /*Text*/
  --color-text-default: var(--dm-color-text-default);
  --color-text-light: var(--dm-color-text-light);
  --font-family-text: var();
  --font-family-head: var()

  /*SVG*/
  --color-svg-default: var(--dm-color-svg-default);

  /*Button*/
  --color-button-border: var(--dm-color-button-border);
  --color-button-hover: var(--dm-color-button-hover);
  --color-button-active: var(--dm-color-button-active);
  --color-button-text-hover: var(--dm-color-button-text-hover);
  --color-disabled: var(--dm-color-disabled);
  --color-grid-item-divider: var(--dm-color-grid-item-divider);
  --color-shadows: var(--dm-color-shadow);

  /*Link*/
  --color-link: var(--dm-color-link);
  --color-link-hover: var(--dm-color-link-hover);
  --color-link-visited: var(--dm-color-link-visited);
}

:root {
  /*Настройки Шрифтов*/
  --font-family-text: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  --font-family-stylized: 'Roboto Mono', 'DejaVu Sans Mono', 'Consolas', monospace;
  --color-twitter: #1da1f2;
  --color-twitter-hover: rgba(29, 161, 242, 0.8);
  --side-offset: 6rem;
  --header-top-offset: 5rem;
  --border-radius-small: 3px;
  --border-radius-large: 6px;

  /*Dark Mode*/
  --dm-color-background: #222;
  --dm-color-background-transparent: hsla(0, 0%, 8%, 0.7);
  --dm-color-background-card: #141414;
  --dm-color-text-default: #ececec;
  --dm-color-text-light: #aaa;
  --dm-color-svg-default: #f6f6f6;
  --dm-color-button-border: #bababa;
  --dm-color-button-hover: #d4d4d4;
  --dm-color-button-active: #d4d4d4;
  --dm-color-button-text-hover: #000;
  --dm-color-disabled: #aaa;
  --dm-color-grid-item-divider: #404040;
  --dm-color-shadow: hsla(0, 0%, 84%, 0.95);
  --dm-color-link: #0064ee;
  --dm-color-link-hover: #0048ee;
  --dm-color-link-visited: #a990bd;

  /*Light Mode*/
  --lm-color-background: #fcfcfc;
  --lm-color-background-transparent: hsla(0, 0%, 100%, 0.7);
  --lm-color-background-card: #fff;
  --lm-color-text-default: #000;
  --lm-color-text-light: #666;
  --lm-color-svg-default: #000;
  --lm-color-button-border: #333;
  --lm-color-button-hover: #333;
  --lm-color-button-active: #333;
  --lm-color-button-text-hover: #fff;
  --lm-color-disabled: #aaa;
  --lm-color-grid-item-divider: #ccc;
  --lm-color-shadow: rgba(0, 0, 0, 0.5);
  --lm-color-link: #00e;
  --lm-color-link-hover: #3434ee;
  --lm-color-link-visited: #551a8b;
}
