.card {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: var(--border-primary);

  font-family: var(--roboto);
  font-size: 1.1em;
  line-height: 1.3em;
  font-weight: 400;
}

.card:hover {
  border: var(--border-primary-hover);
}

.card:hover svg {
  fill: var(--mountain-meadow);
}

.logo-and-tech-name-container {
  display: flex;
  align-items: center;
}

.card-title {
  padding-left: 15px;
  font-family: var(--jura);
  font-size: 1.8em;
  line-height: 2em;
  font-weight: 600;
}

.tech-home-page {
  align-self: flex-start;
  padding-top: 20px;
  font-weight: 400;
}

.tech-description {
  margin: 10px auto;
}

.card-button {
  padding: 8px 15px;
  width: fit-content;
  align-self: center;
  border: var(--border-primary);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.card-button:hover {
  border: 1px solid var(--mountain-meadow);
  background-color: white;
}

.card-button:hover a {
  color: var(--link-clr-hover);
}
