.button {
  --button-size: 40px;
  width: var(--button-size);
  height: var(--button-size);
  padding: 0.4rem;
  border: var(--border-primary-default);
  color: var(--svg-color-default);
  background-color: var(--button-bg-color-default);
}

button:hover {
  color: var(--svg-color-hover);
  background-color: var(--button-bg-color-hover);
}

.button:active {
  color: var(--svg-color-hover);
  background-color: var(--button-bg-color-hover);
}

.svg {
  text-align: center;
}
