.svg-container {
  --container-logo-size: 60px;
  width: var(--container-logo-size);
  height: var(--container-logo-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  fill: #fff;
  background-color: transparent;
  border-radius: 100%;
  padding: 10px;
  transition: ease-in-out;
}

.logo:hover {
  fill: #000;
  background-color: #fff;
}
