/*Обнуление (reset)*/
@import './css//reset.css';

/*CSS Переменные*/
@import './css/constants.css';

/*Ипорт шрифтов*/
@import './css//fonts.css';

::selection {
  background-color: var(--viva-magenta);
  color: #fff;
}

a {
  color: var(--link-clr);
}

a:is(:hover, :focus) {
  color: var(--link-clr-hover);
}

svg {
  fill: var(--svg-clr);
}

svg:is(:hover, :focus) {
  fill: var(--svg-clr-hover);
}

a[href='#'] {
  color: red;
}

body,
body.dark {
  color: var(--clr-primary);
  background-color: var(--bg-clr-primary);
  font-family: var(--roboto);
}

body.light {
  color: var(--clr-primary);
  background-color: var(--bg-clr-primary);
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template:
    'header' var(--header-height)
    'main' 1fr
    'footer' var(--footer-height) / 1fr;
}

.main {
  width: 100%;
  grid-area: main;
}

.wrapper {
  margin: 0 auto;
  width: var(--wrapper-width);
}

.pageTitle {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 500;
  text-transform: uppercase;
}
