.techs {
  padding: 30px 20px;
  display: grid;
  place-content: center center;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.section-title {
  color: var(--clr-primary);
  font-family: var(--jura);
  font-size: 2em;
  line-height: 2.7em;
  text-align: center;
}

.section-intro {
  color: var(--clr-primary);
  font-family: var(--roboto);
  font-size: 1em;
  line-height: 1.5em;
}

.cards {
  display: grid;
  grid-column: repear(3, minmax(200px, 1fr));
}
