.main-menu-item {
  font-family: var(--finlandica);
  font-size: 1.25em;
  line-height: 1.1em;
  padding: 0.35em 0.9em;
  background-color: var(--bg-clr-primary);
  transition: all ease-in-out 150ms;
}

.main-menu-item:hover {
  background-color: var(--mountain-meadow);
}
