.menu-item {
  width: max-content;
  height: fit-content;

  position: relative;
  font-family: var(--finlandica);
  font-size: 1.5em;
  padding: 0.5ch 1ch;
  background-color: transparent;
  transition: all ease-in-out 150ms;
}

.menu-item:hover {
  background-color: var(--mountain-meadow);
}

.menu-item a {
  color: var(--nav-link-clr);
}

.menu-item:hover a {
  color: var(--nav-link-clr-hover);
}
