.main-menu-item {
  
}

.menu-link {
  padding: 0.5rem;
  font-family: var(--nav-link-font-family);
  font-size: var(--nav-link-font-size);
  line-height: var(--nav-link-line-height);
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 5px;
}

.menu-link:hover {
  background-color: var(--bg-color-secondary);
}

.menu-link a {
  color: var(--nav-link-color-default);
}

.menu-link a:hover {
  color: var(--nav-link-color-hover);
}
