/* Отступы, рамки, box-sizing */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

/* Cтили */
html,
body {
  height: 100vh;
  line-height: 1;
}

#root {
  height: 100vh;
}

address {
  font-style: inherit;
}

/*Отключаем маркировку в списках.*/
ul,
ol,
li {
  list-style: none;
}

/*Свойство outline задает стиль контура элемента./*
/*Контур - это линия, которая рисуется вокруг элемента, за пределами border.*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/* Убираем декоративные эфекты ссылок */
a,
a:visited,
a:hover {
  text-decoration: none;
}

/* Приводим все стили заголовков к обычному тексту */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* задаем наследование семейства шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

/* курсор при наведении кнопок*/
button,
a {
  cursor: pointer;
}

/*Выравнивание верхнюю границу изображений.*/
img {
  vertical-align: top;
}
