.header {
  height: var(--header-height);
  width: 100%;

  position: sticky;
  top: 0px;

  display: grid;
  place-items: center;
  grid-area: header;

  background-color: var(--bg-clr-primary);
  border-bottom: var(--header-border-bottom);
  z-index: 9999;
}

.wrapper {
  width: var(--wrapper-width);

  display: grid;
  column-gap: 1.5em;
  grid-auto-flow: column;
  place-items: center;
}
