.header {
  height: var(--header-height);
  position: sticky;
  top: 0px;
  background-color: var(--bg-clr-primary);
  border-bottom: var(--header-border-bottom);
  z-index: 100;

  grid-area: header;
}

.wrapper {
  margin: 0 auto;
  height: 100%;
  width: var(--wrapper-width);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2em;
}
