.footer {
  width: 100%;
  z-index: 100;
  grid-area: footer;
}

.first-color {
  width: 100%;
  display: grid;
  justify-content: center;
  background-color: transparent;
}

.second-color {
  width: 100%;
  display: grid;
  justify-content: center;
  background-color: black;
}

.wrapper {
  margin: 0 auto;
  width: var(--wrapper-width);
}

/*  Подсекция с контактами и полезными ссылками  */
.main {
  padding: 1ch 0;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

.main :where(h3) {
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 0.4em;
}

.contacts {
  display: grid;
  grid-auto-flow: row;
}

.item {
  font-size: 1em;
  line-height: 1.25em;
}

.phone {
  font-size: 1em;
}
.email {
  font-size: 1em;
}
.telegram {
  font-size: 1em;
}

.usefulLinks {
  padding-left: 2em;
  display: grid;
  grid-auto-flow: row;
}

.links {
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: repeat(3, 1fr);
}

.links :where(a) {
  padding: 0.25em 1em 0.25em 0;
}

/*  Подсекция с данными автора  */
.author {
  width: 100%;
  padding: 1.5ch 0;
  background-color: black;
  font-size: 0.8em;

  display: grid;
  place-content: center;
}

.author a:hover {
  color: var(--mountain-meadow);
}
