.main {
  width: 100%;
  display: grid;
  grid-area: main;
  justify-content: center;
}

.wrapper {
  width: var(--wrapper-width);
  position: relative;
  display: grid;
  grid-template: 'leftAside pageContent' 1fr / minmax(200px, 25%) 1fr;
}

.left-aside {
  margin-top: var(--header-height);
  padding: 15px 0px 15px 15px;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  font-size: 1em;
  line-height: 1.375em;
  background-color: var(--mountain-meadow);

  display: grid;
  grid-area: leftAside;
  grid-auto-flow: row;

  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  display: grid;
  grid-area: pageContent;
}
