.footer {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dm-bg-secondary);
  font-size: 18px;
}

.footer p {
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  line-height: 28px;
}
