.footer {
  width: 100%;
  background-color: var(--bg-clr-primary);
  z-index: 99999;
  grid-area: footer;
}

.wrapper {
  width: var(--wrapper-width);
  display: grid;
  grid-template:
    'main' auto
    'author' auto / 1fr;
}

/*  Подсекция с контактами и полезными ссылками  */
.main {
  width: 100%;
  padding: 1ch 0;
  font-size: 1em;
  line-height: 1.25em;
  display: grid;
  grid-template-columns: 1fr 3fr;

  grid-area: main;
}

.main :where(h3) {
  font-size: 1.3em;
  line-height: 1.6em;
  margin-bottom: 0.4em;
}

.contacts {
  display: grid;
  grid-auto-flow: row;
}

.usefulLinks {
  padding-left: 2em;
  display: grid;
  grid-auto-flow: row;
}

.links {
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: repeat(3, 1fr);
}

.links :where(a) {
  padding: 0.25em 1em 0.25em 0;
}

/*  Подсекция с данными автора  */
.author {
  width: 100%;
  padding: 1.5ch 0;
  background-color: black;
  font-size: 0.8em;

  display: grid;
  place-content: center;

  grid-area: author;
}

.author a:hover {
  color: var(--mountain-meadow);
}
