.card {
  width: 350px;
  padding: 20px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border-primary-default);
}

.card:hover {
  border: var(--border-primary-hover);
}

.logo-name-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.tech-name {
  padding-left: 10px;
  font-family: var(--tech-name-font-family);
  font-size: var(--tech-name-font-size);
  line-height: var(--tech-name-line-height);
  font-weight: 600;
}

.tech-home-page {
  align-self: flex-start;
  padding-top: 20px;
  font-weight: 400;
}

.tech-description {
  padding: 10px 0px 20px 0px;
  text-align: left;
  color: var(--text-color-primary);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  font-weight: 400;
}

.button {
  padding: 10px 15px;
  background-color: var(--button-bg-color-default);
  border: var(--button-border-default);
  border-radius: 5px;
}

.button:hover {
  background-color: var(--button-bg-color-hover);
  border: var(--button-border-hover);
  border-radius: 5px;
}
